<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Prime" connectionString="Server=soc01prime;Database=Prime;User Id={0};Password={1};"/>
  </connectionStrings>
  <appSettings>
    <add key="Select" value="SELECT [CompanyNumber],[CompanyName],SQLServerName SQLServer,[CompanyDatabase]  from RipGlobal..vw_companies c INNER JOIN Ripglobal.dbo.ITSM_ORG_CUSTOM_FIELDS cf WITH(NOLOCK) 	ON cf.ocf_org_oid = c.organizationid INNER JOIN RipGlobal.dbo.ITSM_WorkGroups WG WITH (NOLOCK) 	ON WG.wog_oid = ocf_wog1_oid WHERE StatusCodeID &lt; &gt; 3097034761 AND SQLServerName like 'EC2%'  order by CompanyName "/>
    <add key="Insert" value=" EXEC InsertUpdateDeviceException"/>
  </appSettings>
</configuration>